<div *ngIf="product !== null" [ngClass]="['product-thumbnail-wrapper']">
  <div [ngClass]="['image-style']" [style.backgroundImage]="'url('+ image +')'">
    <!-- <img [src]="image" > -->
  </div>
  <div [ngClass]="['below-image']">
      <table>
          <tbody>
            <tr>
              <td>{{product.value.title}}</td>
              <td><button><span [ngClass]="['fa fa-star']"></span></button></td>
            </tr>
            <tr>
                <td>
                    <h3>${{product.value.price}}</h3>
                  </td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <button (click)="decreaseQuantity()"><span [ngClass]="['fa fa-minus']"></span></button>
        <input type="number" min="0" max="99" [(ngModel)]="quantity">
        <button (click)="increaseQuantity()"><span [ngClass]="['fa fa-plus']"></span></button>
        <!-- <a href="article/edit/{{product.id}}"><span [ngClass]="['fa fa-pen']"></span></a> -->
        <button routerLink="/article/edit/{{product.id}}"><span [ngClass]="['fa fa-pen']"></span></button>
        <button routerLink="/article/edit/{{product.id}}"><span [ngClass]="['fa fa-eye']"></span></button>
  </div>
  
</div>