app-product-thumbnail{
    padding: 20px;
}

.banner{
    min-height: 200px;
    background-color: black;
    width: 100%;
    text-align: center;
    color: aliceblue;
    font-family: cursive;
    font-size: 8em;
}

.fa-tag{
    color: red
}