<h3>Articles</h3>
<button [ngClass]="['']">New</button>
<table [ngClass]="['table table-condenced table-bordered']">
  <thead>
    <th>Title</th>
    <th>Attachments</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <tr *ngFor="let item of articles">
      <td>{{item.value.title}}</td>
      <td>
        <ul *ngIf="hasImage(item)">
          <li *ngFor="let imName of GetImagesName(item)">
            <a href="/api/Attachments/{{item.id}}/{{imName}}">{{imName}}</a>
          </li>
        </ul>
      </td>
      <td>
        <button [ngClass]="['']" >View</button>
        <button [ngClass]="['']" (click)="setSelectedDocument(item)">Edit</button>
        <button [ngClass]="['']" >Delete</button>
      </td>
    </tr>
  </tbody>
</table>
<!-- <ul>
  <li *ngFor="let item of articles">
    
    <ul>
      <li *ngFor="let im of getImages(item)">
        <img width="200px" *ngIf="hasImage(item)" [src]="im">
      </li>
    </ul>
    
  </li>
</ul> -->

<app-article-edit [document]="selectedDocument"></app-article-edit>