<body>
  <div [ngClass]="['left-toolbar']">
    <button routerLink="/login"><span [ngClass]="['fa fa-sign-in-alt']"></span></button>
    <button routerLink="/article"><span [ngClass]="['fa fa-store']"></span></button>
    <button routerLink="/cart">
        <span [ngClass]="['badge badge-primary']">2</span>
      <span [ngClass]="['fa fa-shopping-cart']"></span>
    </button>
    <button routerLink="/article"><span [ngClass]="['fa fa-star']"></span></button>
    <button routerLink="/users"><span [ngClass]="['fa fa-cog']"></span></button>
    <button routerLink="/article"><span [ngClass]="['fa fa-info-circle']"></span></button>
    <button routerLink="/article"><span [ngClass]="['fa fa-user-shield']"></span></button>
    
  </div>
  <div [ngClass]="['main-area']">
      <div [ngClass]="['container-fluid']">
          <router-outlet></router-outlet>
        </div>
  </div>
  

</body>