@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
  }
}

.main-area{
  width: 97%;
}

.left-toolbar{
  width: 3%;
  /* background-color: rgb(20, 20, 41); */
  position: sticky;
}

.left-toolbar button{
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

body{
  display: flex;
}